{{ partial "header.html" . }}

{{ .Content }}
<a href="./_read_a_card" class="btn btn-default">
  Reading a Monster Card
</a>
<a href="./todo" class="btn btn-default">
  To Do
</a>
<a href="./index.json" ><i class="fa fa-file-code"></i></a>
<a href="/nero_monsters.xlsx"><i class="fa fa-file-excel"></i></a>
<a href="/monster_manual_national.pdf">  <i class="fa fa-file-pdf"></i></a>



<link rel="stylesheet" href="/tablesaw.css">
<script src="/tablesaw.js"></script>
<script src="/tablesaw-init.js"></script>

<table class="tablesaw" data-tablesaw-mode="columntoggle" data-tablesaw-sortable data-tablesaw-sortable-switch tablesaw-swipe-shadow tablesaw-row-border>
<thead>
  <tr>
    <th scope="col" data-tablesaw-priority="persist" data-tablesaw-sortable-col >Name</th>
    <th scope="col"  data-tablesaw-sortable-col >Type</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >APL</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Motivation</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Movement</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Inteligence</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Offensive Abilities</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Defensive Abilities</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Vulnerabilities</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Healed By</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Immune to</th>
    <th scope="col"  data-tablesaw-sortable-col data-tablesaw-priority="0" >Monster Manual</th>
  </tr>
</thead>
<tbody>

{{ range sort (where .Pages ".Params.Layout" "IN"  (slice "national_monster_card" ) )  ".Params.Name" }} 


{{ $immune_to := (slice ) }} 
{{ if .Params.immune_to }}
{{ if not (reflect.IsSlice .Params.immune_to) }}{{ $immune_to = (slice .Params.immune_to ) }}
{{ else  }} {{ $immune_to = append $immune_to .Params.immune_to }}
{{ end }}
{{ end }}

{{ $vulnerabilities := (slice ) }} 
{{ if .Params.vulnerabilities }}
{{ if not (reflect.IsSlice .Params.vulnerabilities) }}{{ $vulnerabilities = (slice .Params.vulnerabilities ) }}
{{ else  }} {{ $vulnerabilities = append $vulnerabilities .Params.vulnerabilities }}
{{ end }}
{{ end }}

{{ $defensive_abilities := (slice ) }} 
{{ if .Params.defensive_abilities }}
{{ if not (reflect.IsSlice .Params.defensive_abilities) }}{{ $defensive_abilities = (slice .Params.defensive_abilities ) }}
{{ else  }} {{ $defensive_abilities = append $defensive_abilities .Params.defensive_abilities }}
{{ end }}
{{ end }}

{{ $offensive_abilities := (slice ) }} 
{{ if .Params.offensive_abilities }}
{{ if not (reflect.IsSlice .Params.offensive_abilities) }}{{ $offensive_abilities = (slice .Params.offensive_abilities ) }}
{{ else  }} {{ $offensive_abilities = append $offensive_abilities .Params.offensive_abilities }}
{{ end }}
{{ end }}


{{ $motivation := (slice ) }} 
{{ if .Params.motivation }}
{{ if not (reflect.IsSlice .Params.motivation) }}{{ $motivation = (slice (.Params.motivation | title)) }}
{{ else  }} {{ $motivation = append $motivation .Params.motivation}}
          {{ $motivations_to_title_case := (slice ) }}
                                {{ range $motivation }}
                                    {{ $latest_motivation := . | title }} 
                                    {{ $motivations_to_title_case := $motivations_to_title_case |append  $latest_motivation }} 
                                {{ $motivation = $motivations_to_title_case }}{{ end }}
{{ end }}
{{ end }}


  <tr>
    <td><a href="{{.Permalink}}"> {{ if .Params.name }}{{ .Params.name }}{{ else  }}{{ .Params.Title }}{{ end }}</a></td>
    <td>{{ .Params.type | title }}</td>
    <td>{{ .Params.apl }}</td>
    <td>{{ delimit  $motivation ", "  }} </td>
    <td>{{ .Params.movement }}</td>
    <td>{{ .Params.Inteligence }}</td>
    <td>{{ delimit $offensive_abilities ", " }}</td>
    <td>{{ delimit $defensive_abilities ", " }}</td>
    <td>{{ delimit $vulnerabilities ", " }}</td>
    <td>{{ .Params.healed_by }}</td>
    <td>{{ delimit $immune_to ", "}}</td>
    <td>{{ .Params.monster_manual }}</td>
  </tr>
{{ end }}
</tbody>
</table>


{{ partial "footer.html" . }}
